@model IEnumerable<Dhaka_Fiber.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Road_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apt_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_1_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_2_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cell_1_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cell_2_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.National_ID_)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type_of_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IP_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAC_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activation_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan.Plan_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Road_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apt_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_1_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_2_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cell_1_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cell_2_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.National_ID_)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type_of_user)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IP_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAC_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activation_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan.Plan_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
